body{
    background-color: rgba(197, 165, 20, 0.952);
}

header{
    background-color: azure;
    text-align: center;
}

section{
    background-color: aliceblue;
    height: 40vh;
    text-align: center;
    width:100vw;
}
.texto{
    height: 100%;
    width: 50vw;
    padding: 5%;
}
img{
    width: 33vw; 
    padding-left: 6%;
    
}
.titulo{
    text-align: center;
}
.tecno{
    display: flex;
   align-items: center;

}
@media ( max-width:720px){
    .tecno{
        flex-direction: column;
    }
    section{
        height: 70vh;
    }
}
