body{
    background-color: rgba(197, 165, 20, 0.952);
}

header{
    background-color: azure;
    text-align: center;
}

section{
    background-color: aliceblue;
    height: 50vh;
    text-align: center;
    display: flex;
}