body{
    background-color: rgba(197, 165, 20, 0.952);
}

header{
    background-color: azure;
    text-align: center;
}

section{
    background-color: aliceblue;
    height: 50vh;
    text-align: center;
    display: flex;
    width:100vw;
}
.imagen{
    height: 50%;
    width:100vw;
}
img{
    height: 100%;
    width:100vw;
}
