body{
    background-color: rgba(153, 42, 23, 0.952);
    
}

header{
    background-color: aliceblue;
    text-align: center;
}

section{
    background-color: aliceblue;
    height: 50vh;
    text-align: center;
    display: flex;
    width:100vw;
    
}
.imagen{
    height: 50%;
    width:100vw;
    padding-right: 20px;
}
.texto{

    height: 100%;
    width: 50vw;
}
img{
    height: 100%;
    width:60vw;
    
}
.web{
display: flex;
align-items: center;

}
