body{
    background-color: brown;

}
header{
text-align: center;
background-color: aliceblue;
}
section{
background-color: aliceblue;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: smaller;
}